/*** Hero image ***/

.hero-img-container {
    flex: 1;
}

.hero-img {
    flex: 1;

    background-image: url("../images/foto/centra_parks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
}

.hero-img-mobile {
    display: none;  /* show only for mobile */
    flex: 1;

    background-image: url("../images/foto/centra_parks_mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
}

.title-container {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);

    color: #FFC301;
}

.text1 {
    font-family: "Itim";
    font-size: 60px;
    padding-bottom: 10px;
}

.text2 {
    font-family: "Itim";
    font-size: 30px;
}

.start-btn {
    font-family: "Itim";
    border: none;
    border-radius: 5px;
    padding: 8px 50px;
    font-size: 20px;
    background-color: #FFC301;
    color: #005249;

    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-90%);
}

.start-btn-en {
    transform: translateX(-66%);
}

.start-btn:hover {
    cursor: pointer;
}

/***** MEDIA QUERIES *****/

@media only screen and (max-width: 1200px) {
    .text1 {
        font-size: 48px;
    }
    
    .text2 {
        font-size: 25px;
    }

    .start-btn {
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 800px) {
    .hero-img {
        display: none;
    }

    .hero-img-mobile {
        display: block;
    }
}