@font-face {
    font-family: "Itim";
    src: url("../fonts/Itim/Itim-Regular.ttf");
}

@font-face {
    font-family: "Martel";
    src: url("../fonts/Martel/Martel-Regular.ttf");
}

* {
    font-family: "Martel";
}

html {
    height: 100%;
    width: 100%;
    background-color: #FFF8E9;
}

body {
    height: 100%;
    width: 100%;

    margin: 0;
}

/*** TOP SECTION ***/
.top-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

/*** NAVIGATION ***/

/* menu btn for mobile */
.menu-button {
    display: none;  /* display only in mobile mode */
    padding: 20px;
}

.menu-button img {
    display: block;
}

/* menu for mobile */
#menu-mobile {
    display: none;  /* display only in mobile mode */
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    background-color: rgba(255, 195, 1, 0.95);
}

#lang-button-mobile {
    color: #AD9261;
    font-size: 16px;
}

.top-btns {
    display: flex;
    align-items: center;
    padding: 15px;
}

.top-btns * {
    display: block;
}

.top-btns a {
    text-align: right;
    padding-right: 10px;
    
    text-decoration: none;
}

.menu-items-mobile > div {
    position: relative;
    display: block;
    padding: 0 60px;
    text-align: center;
}

.menu-items-mobile a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 30px 0;
    border-bottom: 1px solid #AD9261;
}

.menu-items-mobile div:last-child a {
    border-bottom: none;
}

/* menu */
nav {
    display: flex;
    position: relative;
    background-color: #FFC301;
    align-items: center;
}

.logo-container img {
    width: 45px;
    padding: 8px;
    padding-bottom: 0;
}

.menu-items-container {
    flex: 1;
    text-align: right;
}

.menu-items-container > div {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-items-container a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

#lang-button {
    color: #AD9261;
    margin-right: 20px;
    margin-left: 40px;
    font-size: 16px;
}

.line {
    display: none;

    position: absolute;
    left: -5px;
    bottom: -5px;

    background-color: #005249;
    width: 50px;
    height: 3px;
}

.active-line {
    display: block;
}

.menu-items-container > div:hover .line {
    display: block;
}

/***** MEDIA QUERIES *****/

@media only screen and (max-width: 1200px) {
    .logo-container {
        margin: 0 auto;
    }

    .menu-items-container {
        display: none;
    }

    .menu-button {
        display: block;
        position: absolute;

        top: 50%;
        transform: translateY(-50%);
    }
}